USE [DBYazOkulu]
GO
/****** Object:  Table [dbo].[Tbl_Basvuru]    Script Date: 20.01.2021 08:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Basvuru](
	[BASVURUID] [int] IDENTITY(1,1) NOT NULL,
	[OGRID] [int] NULL,
	[DERSID] [int] NULL,
 CONSTRAINT [PK_Tbl_Basvuru] PRIMARY KEY CLUSTERED 
(
	[BASVURUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tbl_Ders]    Script Date: 20.01.2021 08:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Ders](
	[DERSID] [int] IDENTITY(1,1) NOT NULL,
	[DERSAD] [varchar](50) NULL,
	[DERSMINKONTEJAN] [tinyint] NULL,
	[DERSMAXKONTEJAN] [tinyint] NULL,
 CONSTRAINT [PK_Tbl_Ders] PRIMARY KEY CLUSTERED 
(
	[DERSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Ogrenci]    Script Date: 20.01.2021 08:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Ogrenci](
	[OGRID] [int] IDENTITY(1,1) NOT NULL,
	[OGRAD] [varchar](25) NULL,
	[OGRSOYAD] [varchar](25) NULL,
	[OGRNUMARA] [varchar](10) NULL,
	[OGRMAIL] [varchar](25) NULL,
	[OGRSIFRE] [varchar](10) NULL,
	[OGRBAKIYE] [decimal](18, 2) NULL CONSTRAINT [DF_Tbl_Ogrenci_OGRBAKIYE]  DEFAULT ((0)),
 CONSTRAINT [PK_Tbl_Ogrenci] PRIMARY KEY CLUSTERED 
(
	[OGRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tbl_Ogretmen]    Script Date: 20.01.2021 08:09:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tbl_Ogretmen](
	[OGRTID] [int] IDENTITY(1,1) NOT NULL,
	[OGRTADSOYAD] [varchar](50) NULL,
	[OGRTBRANS] [int] NULL,
 CONSTRAINT [PK_Tbl_Ogretmen] PRIMARY KEY CLUSTERED 
(
	[OGRTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Basvuru] ON 

INSERT [dbo].[Tbl_Basvuru] ([BASVURUID], [OGRID], [DERSID]) VALUES (1, 1, 7)
INSERT [dbo].[Tbl_Basvuru] ([BASVURUID], [OGRID], [DERSID]) VALUES (2, 1, 2)
INSERT [dbo].[Tbl_Basvuru] ([BASVURUID], [OGRID], [DERSID]) VALUES (3, 2, 3)
SET IDENTITY_INSERT [dbo].[Tbl_Basvuru] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Ders] ON 

INSERT [dbo].[Tbl_Ders] ([DERSID], [DERSAD], [DERSMINKONTEJAN], [DERSMAXKONTEJAN]) VALUES (1, N'ALGORİTMA-1', 3, 14)
INSERT [dbo].[Tbl_Ders] ([DERSID], [DERSAD], [DERSMINKONTEJAN], [DERSMAXKONTEJAN]) VALUES (2, N'STATİK', 3, 14)
INSERT [dbo].[Tbl_Ders] ([DERSID], [DERSAD], [DERSMINKONTEJAN], [DERSMAXKONTEJAN]) VALUES (3, N'MAT-1', 3, 14)
SET IDENTITY_INSERT [dbo].[Tbl_Ders] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Ogrenci] ON 

INSERT [dbo].[Tbl_Ogrenci] ([OGRID], [OGRAD], [OGRSOYAD], [OGRNUMARA], [OGRMAIL], [OGRSIFRE], [OGRBAKIYE]) VALUES (1, N'YASİN', N'BULUT', N'1910225019', N'yasinbulut25@outlook.com', N'1', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Tbl_Ogrenci] ([OGRID], [OGRAD], [OGRSOYAD], [OGRNUMARA], [OGRMAIL], [OGRSIFRE], [OGRBAKIYE]) VALUES (2, N'MEHMET', N'ÇINAR', N'1910225018', N'mehmet@hotmail.com', N'2', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Tbl_Ogrenci] ([OGRID], [OGRAD], [OGRSOYAD], [OGRNUMARA], [OGRMAIL], [OGRSIFRE], [OGRBAKIYE]) VALUES (3, N'ESRA', N'KAYA', N'1910225017', N'esra_blt@gmail.com', N'3', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Tbl_Ogrenci] OFF
SET IDENTITY_INSERT [dbo].[Tbl_Ogretmen] ON 

INSERT [dbo].[Tbl_Ogretmen] ([OGRTID], [OGRTADSOYAD], [OGRTBRANS]) VALUES (1, N'CAN BÜLENT', 1)
INSERT [dbo].[Tbl_Ogretmen] ([OGRTID], [OGRTADSOYAD], [OGRTBRANS]) VALUES (2, N'İBRAHİM ÇAYIROĞLU', 5)
INSERT [dbo].[Tbl_Ogretmen] ([OGRTID], [OGRTADSOYAD], [OGRTBRANS]) VALUES (3, N'AHMET DEMİR', 3)
SET IDENTITY_INSERT [dbo].[Tbl_Ogretmen] OFF
ALTER TABLE [dbo].[Tbl_Basvuru]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Basvuru_Tbl_Ders] FOREIGN KEY([DERSID])
REFERENCES [dbo].[Tbl_Ders] ([DERSID])
GO
ALTER TABLE [dbo].[Tbl_Basvuru] CHECK CONSTRAINT [FK_Tbl_Basvuru_Tbl_Ders]
GO
ALTER TABLE [dbo].[Tbl_Basvuru]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Basvuru_Tbl_Ogrenci] FOREIGN KEY([OGRID])
REFERENCES [dbo].[Tbl_Ogrenci] ([OGRID])
GO
ALTER TABLE [dbo].[Tbl_Basvuru] CHECK CONSTRAINT [FK_Tbl_Basvuru_Tbl_Ogrenci]
GO
ALTER TABLE [dbo].[Tbl_Ogretmen]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Ogretmen_Tbl_Ders] FOREIGN KEY([OGRTBRANS])
REFERENCES [dbo].[Tbl_Ders] ([DERSID])
GO
ALTER TABLE [dbo].[Tbl_Ogretmen] CHECK CONSTRAINT [FK_Tbl_Ogretmen_Tbl_Ders]
GO
